#div_ImagemLogo{
  max-height: 80%;
  background-color: white;
}

/*
h1{
  font-weight: 600;
  font-family: cursive;
  padding-inline: 0.8rem;
}
*/

p{
  padding-inline: 0.6rem;
  font-size: large;
}

ion-icon{
  color: #2dd36f;
  padding-inline: 0.6rem;
}

h3{
  font-weight: lighter;
  color: #2dd36f;
  padding-inline: 0.8rem;
}
