<ion-header [translucent]="true">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-menu-button color="success"></ion-menu-button>
    </ion-buttons>

    <ion-title>Users</ion-title>
    <ion-buttons slot="primary" (click)="addUsuario()">
      <ion-button color="success">Add
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-title size="large">Users</ion-title>
    </ion-toolbar>
  </ion-header>


  <!--<ion-row>
    <ion-col size="9">
      <ion-item>
        <ion-input placeholder="Search" [(ngModel)]="nome" type="search" ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-buttons>
        <ion-button>
          <ion-icon slot="end" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>-->

<!--
  <ion-searchbar color="light" show-cancel-button="focus" placeholder="Search" [(ngModel)]="nome"></ion-searchbar>
-->
  <ion-searchbar color="light" showCancelButton="focus" placeholder="Search" [debounce]="1000" (ionChange)="handleChange($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let usuario of results" (click)="mostrarUsuario()">
      <ion-label>{{ usuario }}</ion-label>
    </ion-item>
  </ion-list>


</ion-content>
